<div class="pull-right">
	<form ng-submit="login()" class="navbar-form" role="login" ng-show="!user.logged">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Login" ng-model="user.name">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
		</div>
		<button type="submit" class="btn btn-default">Sign in</button>
	</form>

	<form ng-submit="logout()" class="navbar-form" role="logout" ng-show="user.logged">
		<span class="navbar-text float-none">Signed in as {{user.name}}</span>
		<button type="submit" class="btn btn-default">Logout</button>
	</form>
</div>