.node circle.facet {
    stroke-width: 0px;
    cursor: pointer;
}

.node circle.leaf {
    stroke: none;
    stroke-width: 0px;
}

.node {
    font: 15px sans-serif;
}

.link {
    fill: none;
    stroke: #6F6A6A;
    stroke-width: 1.6px;
}

.label_leaf {
    font: 9px sans-serif;
}

.breadcrumb-nodes {
    background-color: white;
}

.breadcrumb-separator:after {
    color: #ccc;
    content: "/ ";
    text-decoration: none;
    padding: 0 5px;
}

.breadcrumb-a {
    cursor: pointer;
}

#tree {
    text-align: center;
}