<nav class="navbar navbar-default" ng-controller="menuController">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#force-four-tree-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img class="tree-image" alt="Tree" src="/static/images/tree.png">
			</a>
			<a class="navbar-brand" href="/">ForceFourTree</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="force-four-tree-navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: isActive('/')}" ><a href="#/">Home</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Node <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#node">See nodes</a></li>
						<li><a ng-if="hasAuthoritiesToAdd" href="#node?create=true">Create node</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-if="hasAuthoritiesToManageUser"><a href="#user">See all users</a></li>
						<li><a href="#user?create=true">Create user</a></li>
					</ul>
				</li>
			</ul>
			<login></login>
		</div>
	</div>
</nav>