<div class="container" data-ng-init="getAllCategories()" ng-if="isNodePage&&hasAuthoritiesToAdd">
    <div class="page-header">
        <h3>Node registering</h3>
    </div>
    <form name="nodeAdd" ng-submit="addNode()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Node information</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Value" ng-model="newNode.name" required>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" ng-model="newNode.type">
                        <option>leaf</option>
                        <option>category</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Node links</h4>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-if="newNode.type === 'leaf'">
                    <div ng-repeat="category in categories track by category.id">
                        <label>{{ category.name }}</label>
                        <div class="checkbox" ng-repeat="keyword in category.keywords">
                            <label>
                                <input type="checkbox" ng-model="newNode.facets[category.id][$index]" ng-true-value="'{{ keyword }}'" value="">
                                {{ keyword }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group" ng-if="newNode.type === 'category'">
                    <label for="name">Keywords</label>
                    <div class="keywordItem" ng-if="isNodeCreation" ng-repeat="keywordItem in keywordItems track by $index">
                        <input name="name" type="text" class="form-control" placeholder="Value" ng-model="newNode.keywords[$index]" required>
                    </div>
                    <div class="keywordItem" ng-if="!isNodeCreation" ng-repeat="keyword in newNode.keywords track by $index">
                        <input name="name" type="text" class="form-control" placeholder="Value" ng-model="newNode.keywords[$index]" required>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-plus" ng-click="addKeywordItem()"></button>
                        <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-minus" ng-click="removeKeywordItem()"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Split button -->
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Submit and Continue</a></li>
            </ul>
        </div>
    </form>
</div>

<div class="container" data-ng-init="getAllNodes()" ng-if="!isNodePage">
    <div class="page-header">
        <h3>Nodes registered</h3>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th ng-if="hasAuthoritiesToUpdateOrRemove">Update</th>
                <th ng-if="hasAuthoritiesToUpdateOrRemove">Remove</th>
            </tr>
            <tr ng-repeat="node in nodes" id="{{ node.id }}">
                <td>
                    {{ node.name }}
                </td>
                <td>
                    {{ node.type }}
                </td>
                <td>
                    <a ng-if="hasAuthoritiesToUpdateOrRemove" href="/#node?update=true" ng-click="updateCurrentNode(node)" type="button" class="btn btn-xs btn-primary glyphicon glyphicon-pencil"></a>
                </td>
                <td>
                    <button ng-if="hasAuthoritiesToUpdateOrRemove" ng-click="deleteCurrentNode(node)" type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="pages" ng-if="totalPages.length >= 2">
        <ul class="pagination pagination-sm">
            <li ng-repeat="page in totalPages track by $index" ng-class="{active: $index == currentPage}">
                <a ng-click="getAllNodes($index)">{{$index + 1}}</a>
            </li>
        </ul>
    </div>
</div>