<div class="container" ng-if="isUserPage">
    <div class="page-header">
        <h3>User registering</h3>
    </div>
    <form name="userAdd" ng-submit="addUser()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">User information</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Value" ng-model="newUser.name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="name" type="password" class="form-control" id="password" placeholder="Value" ng-model="newUser.password" required>
                </div>
                
                <div class="form-group">
                    <label for="role">Role</label>                
                	<select class="form-control" id="role" ng-model="newUser.role" required>
                        <option>committer</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Split button -->
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Submit and Continue</a></li>
            </ul>
        </div>
    </form>
</div>

<div class="container" data-ng-init="getAllUsers()" ng-if="!isUserPage&&hasAuthoritiesToManageUser">
    <div class="page-header">
        <h3>Users registered</h3>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Role</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="user in users" id="{{ user.id }}">
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.password }}
                </td>
                <td>
                    {{ user.role }}
                </td>
                <td>
                    <a href="/#user?update=true" ng-click="updateCurrentUser(user)" type="button" class="btn btn-xs btn-primary glyphicon glyphicon-pencil"></a>
                </td>
                <td>
                    <button ng-click="deleteCurrentUser(user)" type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="pages" ng-if="totalPages.length >= 2">
        <ul class="pagination pagination-sm">
            <li ng-repeat="page in totalPages track by $index" ng-class="{active: $index == currentPage}">
                <a ng-click="getAllUsers($index)">{{$index + 1}}</a>
            </li>
        </ul>
    </div>
</div>